/node_modules
/vendor
/build

/public/hot
/public/storage
/public/css
/public/js
/public/img
/public/vendor

/storage/*.key
.env
.env.production

phpunit.xml
psalm.xml
.phpunit.result.cache
.phpunit.cache/
composer.lock
npm-debug.log
yarn-error.log

/.phpstorm.meta.php
/_ide_helper*
/doc

TODO.md
.php_cs.cache
rector.php
