# Dependencies
/node_modules
/vendor

# Build files
/build
/coverage
coverage.xml

# Public assets
/public/hot
/public/storage
/public/css
/public/js
/public/img
/public/vendor

# Environment and configuration
/storage/*.key
.env*
!.env.example

# Testing
phpunit.xml
.phpunit.cache
.phpunit.result.cache

# IDE and editor files
/.phpstorm.meta.php
/_ide_helper*
/doc
.idea
.vscode

# Logs and debug
npm-debug.log
yarn-error.log

# Composer
composer.lock

# PHP CS
.php_cs.cache
.php-cs-fixer.cache

# Local development
/workbench
TODO.md
rector.php
